.advertising{
    background-color: #0BA1DD;
    &__package{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 171px;
    }
    &__title{
        width:100%;
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 75px;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
    }
    &__text{
        width:100%;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
    }
}