.application{
    background: linear-gradient(195.2deg, #6CCC87 10.68%, #2A8E46 89.32%);
    &__package{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 520px;
        padding-top: 140px;
    }
    &__title{
        width: 1110px;
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 75px;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
    }
    &__text{
        width: 1110px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
    }
}